<h4>Registrar salón</h4>
<p>Nombre del salón</p>
<input type="text" class="input-form" [(ngModel)]="newSalon.nombre_salon">
<p>Ubicación del salón</p>
<p>No. de domicilio del salón</p>
<input type="number" class="input-form" [(ngModel)]="newSalon.no_domicilio_salon">
<p>Calle del salón</p>
<input type="text" class="input-form" [(ngModel)]="newSalon.calle_salon">
<p>Colonia del salón</p>
<input type="text" class="input-form" [(ngModel)]="newSalon.colonia_salon">
<p>Ciudad del salón</p>
<input type="text" class="input-form" [(ngModel)]="newSalon.ciudad_salon">
<p>CP del salón</p>
<input type="text" class="input-form" [(ngModel)]="newSalon.codigo_postal_salon">

<p></p>
<button (click)="add_salon()" class="registrer-form-button">Guardar</button>