<main>
    <h3>Editar salón</h3>

    <label>Ingrese ID del salón</label>
    <p *ngIf="dont_exists">No existe el salón</p>
    <input type="number" [(ngModel)]="id_search">
    <button (click)="searchInmueble()">Buscar</button>

    <div *ngIf="inmueble_is_found">
        <label>Nombre del salón</label>
        <input type="text" [(ngModel)]="editInmueble.nombre_inmueble">

        <label>Cantidad del inmueble</label>
        <input type="number" [(ngModel)]="editInmueble.cantidad_disponible_inmueble">

        <label>Salón asignado</label>
        <select [(ngModel)]="editInmueble.id_salon_asignado">
            <option *ngFor="let salon of list_salones" [value]="salon.id_salon">{{salon.nombre_salon}}</option>
        </select>

        <button (click)="editThisImmueble()">Editar</button>
    </div>
</main>