<div>
<table class="table">
    <thead class="table-header">
        <tr>
            <th>ID</th>
            <th>Nombre del inmueble</th>
            <th>Estado del inmueble</th>
            <th>Salón asignado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inmueble of list_inmuebles" class="table-items">
            <td>{{inmueble.id_inmueble}}</td>
            <td>{{inmueble.nombre_inmueble}}</td>
            <td>{{inmueble.estado_inmueble}}</td>
            <app-item-inmuebles [id_salon_asignado]="inmueble.id_salon_asignado"></app-item-inmuebles>
            <td><button (click)="downInmueble(inmueble.id_inmueble)">Dar de baja</button></td>
        </tr>
    </tbody>
</table>
</div>