.view_eventos_body-content {
    position: relative;
    width: 74%;
    left: 10%;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.view_eventos_body-content-form {
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    background-color: rgb(232, 231, 231);
    padding: 5%;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.view_eventos_body-content-button_close {
    position: absolute;
    left: 94%;
    top: 13%;
    background-color: red;
    color: white;
    border-radius: 5px;
}