<header class="header">
  <div class="title-page">
    <h1>EvenOr</h1>
  </div>
  <div class="navbar">
    <nav>
      <a routerLink="/salones" class="navbar-a"><button class="navbar-button">Salones</button></a>
      <a routerLink="/eventos" class="navbar-a"><button class="navbar-button">Eventos</button></a>
      <a routerLink="/personal" class="navbar-a"><button class="navbar-button">Personal</button></a>
      <a routerLink="/inmuebles" class="navbar-a"><button class="navbar-button">Inmuebles</button></a>
      <a routerLink="/agenda" class="navbar-a"><button class="navbar-button">Agenda</button></a>
    </nav>
  </div>
  
</header>
<router-outlet></router-outlet>