<main class="body-content">
    <div>
        <button (click)="open_form_add_inmueble()" class="buttons-form">Registrar inmuebles</button>
        <button (click)="open_form_edit_inmueble()" class="buttons-form">Editar inmuebles</button>
        <div *ngIf="activar_add_inmueble" class="form-content">
            <app-add-form-inmuebles [new_id_inmueble]="list_inmuebles.length"></app-add-form-inmuebles>
            <button (click)="close_form_add_inmueble()" class="close-form-button">Cerrar</button>
        </div>
        <div *ngIf="activar_edit_inmueble" class="form-content">
            <app-edit-form-inmuebles></app-edit-form-inmuebles>
            <button (click)="close_form_edit_inmueble()" class="close-form-button">Cerrar</button>
        </div>
        <app-table-inmuebles [list_inmuebles]="list_inmuebles"></app-table-inmuebles>
    </div>
</main>