<h4>Editar info. del salón</h4>
<p>Ingrese el ID del salón</p>
<p *ngIf="dont_exists">Este salón no existe</p>
<input type="number" class="input-form" [(ngModel)]="id_search">
<button (click)="searchSalon()" class="registrer-form-button">Buscar</button>
<div *ngIf="salon_is_found">
    <label for="nombre-salon">Nombre del salón</label>
    <input type="text" class="input-form" [(ngModel)]="editSalon.nombre_salon">
    <p>Ubicación del salón</p>
    <label for="no-domicilio-salon">No. de domicilio del salón</label>
    <input type="number" class="input-form" [(ngModel)]="editSalon.no_domicilio_salon">
    <label for="calle-salon">Calle del salón</label>
    <input type="text" class="input-form" [(ngModel)]="editSalon.calle_salon">
    <label for="colonia-salon">Colonia del salón</label>
    <input type="text" class="input-form" [(ngModel)]="editSalon.colonia_salon">
    <label for="ciudad-salon">Ciudad del salón</label>
    <input type="text" class="input-form" [(ngModel)]="editSalon.ciudad_salon">
    <label for="codigo-postal-salon">CP del salón</label>
    <input type="text" class="input-form" [(ngModel)]="editSalon.codigo_postal_salon">
    <p></p>
    <button (click)="edit_salon()" class="registrer-form-button">Guardar cambios</button>
</div>