<p>view-agendas works!</p>
<main>
    <div class="view_agendas_body-content">
        <button>Agendar evento</button>
        <button>Editar evento en la agenda</button>
        <div class="view_agendas_body-content-form">
            <button class="view_agendas_body-content-button_close">x</button>
            <app-add-form-agendas></app-add-form-agendas>
            <button>Cerrar</button>
        </div>
        <div class="view_agendas_body-content-form">
            <button class="view_agendas_body-content-button_close">x</button>
            <button>Cerrar</button>
        </div>

        <app-table-agendas></app-table-agendas>
    </div>
</main>