<h4>Editar info. del evento</h4>
<label for="id-salon">Ingrese el ID del evento</label>
<input type="number" class="input-form" [(ngModel)]="id_search">
<button (click)="searchEvento()" class="registrer-form-button">Buscar</button>
<div *ngIf="event_is_found">
    <p>Datos del reservador</p>
    <label for="nombre-reservador">Nombre del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="editEvent.nombre_reservador">
    <label for="apellido-reservador">Apellidos del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="editEvent.apellido_reservador">
    <label for="correo-reservador">Correo del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="editEvent.correo_reservador">
    <label for="telefono-reservador">No. de teléfono del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="editEvent.telefono_reservador">
    <p>Información del evento</p>
    <label for="giro-evento">Giro del evento</label>
    <input type="text" class="input-form" [(ngModel)]="editEvent.giro_evento">
    <label for="cantidad-invitados">Cantidad de invitados</label>
    <input type="number" class="input-form" [(ngModel)]="editEvent.cantidad_invitados_evento">
    <label for="costo-evento">Costo del evento</label>
    <input type="number" class="input-form" [ngModel]="editEvent.costo_evento">
    <p>Estado del evento</p>
    <select class="input-form" [(ngModel)]="editEvent.estado_evento">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
    <p></p>
    <button (click)="edit_evento()" class="registrer-form-button">Guardar cambios</button>
</div>