.table_eventos {
    position: relative;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    border-collapse: separate;
    border-spacing: 0;
    font-family: "Roboto", sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
}

.table_eventos-header {
    background-color: rgb(213, 213, 213);
}

.table_eventos-salones {
    background-color: white;
}

.table_eventos-salones td {
    border-bottom: 1px solid rgb(157, 157, 157);
    border-right: 1px solid rgb(157, 157, 157);
    padding: 3vh;
}

.table_eventos-salones tr:last-child td {
    border-bottom: none;
}

.table_eventos-salones td:last-child {
    border-right: none;
}

.table_eventos tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.table_eventos tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.table_eventos tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.table_eventos tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

tr:hover{
    background-color: rgb(213, 213, 213);
}

.table_eventos-salones-button_delete button {
    width: 100%;
    height: 100%;
}