<table class="table_eventos">
    <thead class="table_eventos-header">
        <tr>
            <th>ID</th>
            <th>Nombre del reservador</th>
            <th>Apellidos del reservador</th>
            <th>Contactos del reservador</th>
            <th>Giro del evento</th>
            <th>Cantidad de invitados</th>
            <th>Costo del evento</th>
            <th>Estado del evento</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table_eventos-salones">
        <tr *ngFor="let evento of eventos">
            <td>{{evento.id_evento}}</td>
            <td>{{evento.nombre_reservador}}</td>
            <td>{{evento.apellido_reservador}}</td>
            <td>Teléfono: {{evento.telefono_reservador}}
                Correo: {{evento.correo_reservador}}
            </td>
            <td>{{evento.giro_evento}}</td>
            <td>{{evento.cantidad_invitados_evento}}</td>
            <td>{{evento.costo_evento}}</td>
            <td>{{evento.estado_evento}}</td>
            <td><button (click)="cancel_eventos(evento.id_evento)">Cancelar</button></td>
        </tr>
    </tbody>
</table>