<div *ngIf="open_this_form">
    <h4>Registrar evento</h4>
    <p>Datos del reservador</p>
    <label for="nombre-reservador">Nombre del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="newEvento.nombre_reservador">

    <label for="apellido-reservador">Apellido del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="newEvento.apellido_reservador">

    <label for="correo-reservador">Correo electrónico del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="newEvento.correo_reservador">

    <label for="telefono-reservador">No. de teléfono del reservador</label>
    <input type="text" class="input-form" [(ngModel)]="newEvento.telefono_reservador">

    <p>Administración del evento</p>

    <label for="giro-evento">Giro del evento</label>
    <input type="text" class="input-form" [(ngModel)]="newEvento.giro_evento">

    <label for="cantidad-invitados-evento">Cantidad de invitados</label>
    <input type="number" class="input-form" [(ngModel)]="newEvento.cantidad_invitados_evento">

    <label for="costo-evento">Costo del evento</label>
    <input type="number" class="input-form" [(ngModel)]="newEvento.costo_evento">
    <p></p>
    <button (click)="add_evento()" class="registrer-form-button">Siguiente</button>
</div>
<div *ngIf="open_agendar">
    <app-add-form-agendas [id_evento_to_link]="get_new__evento.id_evento"></app-add-form-agendas>
</div>